.Form {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translateX(-150%);
  z-index: 100;
  background: white;
}

.CreateToggleRight {
    animation: ToggleRight_ 400ms forwards;

}
.CreateToggleLeft {
    animation: ToggleLeft_ 400ms forwards;

}

@keyframes ToggleRight_ {
    from { transform: translateX(-150%) }
    to { transform: translateX(0) }
}

@keyframes ToggleLeft_ {
    from { transform: translateX(0) }
    to { transform: translateX(-150%) }
}



.Header {
  background-color: #ec604b;
  width: 100%;
  height: 13vmin;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1vmin;
}

.Content {
  margin-top: 2em;
  padding: 5vmin  ;
}

.Wrapper {
  margin: 0.5vmin;

}

.Wrapper-I {
  width: 100%;
}

#datetime-local-I {
  margin: 1vmin;
  width: auto;
}

#datetime-local-II {
  margin: 1vmin;
  width: auto;

}

.ButtonsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.Btn {
  width: 30%;
  background: tomato;
  color: white;
  line-height: 3em;
  margin-bottom: 2em;
  box-shadow: 0 1px 5px black;
  border-radius: 10px;
}
.cancel {

}

.MuiFormControl-root-5 {
  width : auto !important;
}

.MuiFormControl-fullWidth-8 {
  width : 90% !important;
}




.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-hourglass:after {
  background: steelblue;
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}


.LoadScreen {
  width: 70%;
  height: 35%;
  background: white;
  border-radius: 20px;
  box-shadow: 0 1px 10px gray;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: zoomIn 500ms;
}

.SuccessContainer {
  position: absolute;
  z-index: 120;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .8);

  display: flex;
  justify-content: center;
  align-items: center;
  animation: op 500ms;
}

@keyframes op {
  from {opacity: 0}
  to {opacity: 1}
}

.Success {
  width: 80vw;
  padding: 1em;
  background: white;
  border-radius: 20px;
  box-shadow: 0 1px 10px gray;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: zoomIn 500ms;
}
.SucessIcon {
  padding: .5em;
  box-shadow: 0 2px 5px black;
  background: rgb(23, 163, 141);
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  transition: ease-in-out 200ms;
}
.SucessIcon:active {
  background: rgb(11, 117, 101);
}

.CheckImg {
  width: 40%;
}

@keyframes zoomIn {
  from {transform: scale(.1);}
  to {transform: scale(1);}
}


.EditInterface {
  width: 100%;
  position: absolute;
  top: 11%;
  left: 2%;
  font-size: .85em;

}
.EditInterface p {
  text-align: center;
}
.currentId {
  margin-top: -9%;
}
.Type {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.Type2 {
  margin-top: -1em;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.Type3 {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
